$grid-columns: 4;

@import "../node_modules/flexboxgrid-sass/flexboxgrid.scss";
@import "../node_modules/angular-material/angular-material.scss";

@import "base/base";
@import "components/base";

main{
  display: block;
  margin: 0;
  padding: 0;
  &.ng-enter {
      /* transition on enter for .5s */
      transition: .5s;

      /* start with opacity 0 (invisible) */
      opacity: 0;
  }

  /* end 'enter' transition */
  &.ng-enter-active {
      /* end with opacity 1 (fade in) */
      opacity: 1;
  }
}

.linha{
  @extend .row;
}

.container{
  @extend .wrapper;
}

.white-paper{
  padding: 32px 24px 64px;
  margin-top: 32px;
  margin-bottom: 32px;
}
