uab-quadro{
  display: block;
  .uab-quadro{
    @extend .row;
    .uab-quadro-icon{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 72px;
      height: 64px;
      margin-top: 8px;
      margin-left: 3rem;
      margin-right: -12px;
      border-radius: 4px;
    }
    .uab-quadro-body{
      flex: 1;
      > md-card{
        > md-card-content{
          min-height: 86px;
          p{
            margin: 8px 0px;
          }
        }
      }
    }
  }
}

@media (max-width: $screen-sm) {
  uab-quadro{
    display: block;
    .uab-quadro{
      flex-direction: column;
      .uab-quadro-icon{
        margin-left: 12px;
        margin-bottom: -10px;
      }
    }
  }
}

body.hc > #root{
  uab-quadro{
    .uab-quadro{
      background: transparent;
      .uab-quadro-icon{
        background: transparent;
        margin-right: -10px;
        border: 1px solid $hc-border-color;
        border-right: none;
      }
    }
  }
}