body{
  &.animated{
    .main .white-paper{
      padding-top: 100px;
    }
  }
}

uab-header{
  transition: all 0.4s $easing-in-out;
  &.animated{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 48;
    transform: translateY( calc( -100% + 64px ));
  }
  md-toolbar{
    display: block;
  }
  uab-header-titles{
    flex-direction: column; 
    width: 100%;
    padding: 24px 16px 24px;
    color: white;
    text-align: center;
    .course{
      font-size: 80%;
      font-weight: bold;
      margin-left: 3rem;
    }
    .subtitle{
      font-weight: bold;
    }
    .subtitle, .caption{
      font-size: 16pt;
      margin-left: 3rem;
    }
    .titles{
      line-height: 1.1;
      font-size: 18px;
      .caption{
        font-size: 16pt;
        color: white;
      }
    }    
  }
  .uab-course-icon{
    display: block;
    width: 100%;
    max-width: 360px;
    height: auto;
    margin: 8px auto;    
  }
  .md-toolbar-tools {
    @extend .h4;
    background-color: transparentize(black, 0.8);
    > .container-fluid{
      display: flex;
      width: 100%;
    }
    a.md-button{
      display: inline-flex;
    }
    .md-icon-button{
      font-size: 32px;
      line-height: 32px;
      padding: 0px;
      md-icon{
        color: white;
      }
    }
    .md-toolbar-tools-text{
      color: white;
      padding: 8px 0px;
      line-height: 24px;
    }
  }
}

uab-header + md-content{
  background-color: transparent;
}


@media (max-width: $screen-md) {
  uab-header {
    uab-header-titles {
      line-height: 1.1;
      padding: 24px;
      .subtitle{
        font-size: 14pt;
        margin-left: 0px;
      }
      .titles{
        font-size: 24pt;
        line-height: 0.8;
        .caption{
          display: block;
          line-height: 14pt;
          font-size: 12pt;
          margin-left: 0px;
        }
      }
    }
    .md-toolbar-tools {
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      > .container-fluid{
        display: block;
        padding-right: 0px;
        padding-left: 0px;
        margin-left:  0px;
        margin-right: 0px;
      }
      .md-icon-button{
        font-size: 24px !important;
        line-height: 24px;
      }
    }
  }
}

@media(max-width: $screen-xs){
  uab-header{
    &.hidden{
      transform: translateY( calc( -100% + 56px ));     
    }   
    .uab-course-icon{
      margin: 8px 0px;    
      padding-left: 8px
    }
  }
}


body.hc > #root{
  uab-header{
    background: transparent;
    border-bottom: 1px solid $hc-border-color;
    md-toolbar{      
      background-color: transparent;
      uab-header-titles{
        .subtitle, .caption, .course{
          color: $hc-text-color !important;
        }
      }
      .md-icon-button md-icon{
        color: $hc-border-color;
      }
      .md-toolbar-tools-text{
        color: $hc-border-color;
      }
    }
  }
}