uab-annotations{
  position: relative;
  display: block;
  md-sidenav{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    md-content{
      min-width: 240px;
      .comment{
        font-size: 1.15rem;
        margin: 8px 0px;
        p{
          text-indent: 0px;
          margin: 0px;
        }
        small{
          color: transparentize($text-color, 0.4);
        }
      }
    }
    .md-toolbar-tools .md-icon-button md-icon{
      color: $text-color;
      fill: $text-color;
    }
  }
  footer{
    background-color: #f4f4f4;
    padding: 16px 0px;
    md-input-container{
      margin: 18px 18px;
    }
  }
}

@media (max-width: $screen-sm) {
  uab-annotations md-sidenav{
    position: fixed !important;
    left: auto !important;
    right: 0;
    height: 100%;
  }
}

body.hc{
  uab-annotations{
    p, h1, h2, h3, h4{
      color: $text-color !important;
    }
  }  
}

body.animated{
  uab-annotations{
    margin-top: 62px;
  }
}
