uab-pagination{
  display: inline-flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  a.md-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
