uab-footer{
  @extend .container;
  .academic p{
    font-size: 1.06rem;
  }
}

body.hc > #root{
  uab-footer{
    md-toolbar{
      background: transparent;
      color: $hc-border-color;
      border-top: 1px solid $hc-border-color;
      border-bottom: 1px solid $hc-border-color;
    }
  }
}