// Header
#impress{
  > ul > li:not(:first-child){
    page-break-before: always;
  }
  > ul > li > header{
    background-color: $ligth-grey;
    .course, .discipline{
      @include roboto;
      padding: 8px 24px;
      font-size: 120%;
      font-weight: bold;
    }
    .discipline{
      background-color: darken($color: $ligth-grey, $amount: 10);
    }
    .topic{
      font-size: 18px;
    }
  }
}

// Cards
md-card{
  @include card;
  md-card-title-text{
    @include card-title;
  }
}

// Sanfona
uab-sanfonado{
  display: block;
  padding: 4px;
}


uab-slide{
  ul[rn-carousel]{
    display: block;
    width: 100%;
    height: auto;
    li{
      display: block;
      height: auto;
      width: 100%;
      img{
        display: block;
        max-width: 100%;
        margin: 24px auto;
      }
      &[legend]::after{
        display: block;
        text-indent: 0px;
        text-align: center;
        content: "("attr(legend)")";
      }
    }
  }
}

uab-dialog{
  @include card;
  &::before{
    @include card-title;
    display: block;
    content: attr(uab-dialog-title);
  }
  &::after{
    display: block;
    content: attr(uab-dialog-text);
  }
}

uab-dialog-group{
  [uab-dialog-trigger]{
    font-weight: bold;
    text-decoration: none;
  }
  uab-dialog-content{
    display: block;
    @include card;
    &::before{
      @include card-title;
      display: block;
      content: attr(title);
    }
  }
}

#links{
  li{
    text-align: left;
  }
  &::before{
    @extend .h3;
    @extend .cabecalho;
    display: block;
    content: 'Fontes das Imagens'
  }
}


// Forms
uab-input-text{
  display: block;
  &::after{
    display: block;
    border-bottom: 2px solid $border-color;
    margin: 16px 0px 24px;
    content: attr(label);
    text-indent: 0px;
  }
}

uab-input-radio, uab-input-radio-button{
  display: block;
  text-indent: 0px;
}

uab-input-radio-button{
  &::before{
    display: inline-block;
    content: " ";
    width: 16px;
    height: 16px;
    border: 1px solid $border-color;
    border-radius: 50%;
    margin-top: 8px;
    margin-right: 16px;
  }  
}

uab-input-checkbox, uab-input-checkbox-button{
  display: block;
  text-indent: 0px; 
}

uab-input-checkbox-button{
  &::before{
    display: inline-block;
    content: " ";
    width: 16px;
    height: 16px;
    border: 1px solid $border-color;
    margin-top: 8px;
    margin-right: 16px;
  }  
}

// Quadros
uab-quadro{
  &::before{
    @include card-title;
    content: attr(title);
    margin-bottom: 8px;
  }
}