// Header
#impress{
  > ul > li{
    page-break-before: always;
  }
  > ul > li > header{
    background-color: $ligth-grey;
    .course, .discipline{
      @include roboto;
      padding: 8px 24px;
      font-size: 120%;
      font-weight: bold;
    }
    .discipline{
      background-color: darken($color: $ligth-grey, $amount: 10);
    }
    .topic{
      font-size: 18px;
    }
  }
}

// Cards
md-card{
  @include card;
  md-card-title-text{
    @include card-title;
  }
}

// Sanfona
uab-sanfonado{
  display: block;
  padding: 4px;
}


uab-slide{
  ul[rn-carousel]{
    display: block;
    width: 100%;
    height: auto;
    li{
      display: block;
      height: auto;
      width: 100%;
      img{
        display: block;
        max-width: 100%;
        margin: 24px auto;
      }
    }
  }
}

uab-dialog{
  @include card;
  &::before{
    @include card-title;
    display: block;
    content: attr(uab-dialog-title);
  }
  &::after{
    display: block;
    content: attr(uab-dialog-text);
  }
}

#links{
  li{
    text-align: left;
  }
  &::before{
    @extend .h3;
    @extend .cabecalho;
    display: block;
    content: 'Fontes das Imagens'
  }
}


// Forms
uab-input-text{
  display: block;
  &::after{
    content: attr(label);
    border-bottom: 1px solid $border-color;
    margin: 16px 0px 24px;
  }
}