.uab-tabs-pagination, uab-svg-animation,
video, audio, uab-audio-button{
  display: none;
}

[ng-click]{
  display: none;
}

.hidden-print{
  display: none;
}

.visible-print{
  display: block;
  font-size: 80%;
  text-indent: 0px;
}

[uab-sanfonado-toggle]{
  text-decoration: none;
}
button[uab-sanfonado-toggle]{
  display: none;
}