// Configuração da Página
@page {
	widows:3;
	orphans:3;
}
@page :left {
	margin-top: 2.0cm;
	margin-bottom: 1.5cm;
	margin-left: 2.0cm;
	margin-right: 2.0cm;
}
@page :right {
	margin-top: 2.0cm;
	margin-bottom: 1.5cm;
	margin-left: 2.0cm;
	margin-right: 2.0cm;
}


html {
	font-size:100%;
	min-height:100%;
}
body {
	font-size:100%;
	font-family:Georgia, "Times New Roman", serif;
}
p {
	margin:0 0 0.8em 0;
	font-size:14pt;
	line-height:1.5em;
	text-indent: 2.0em;
	/*text-align:justify;*/
}
span {
	text-indent: 0;
}