*[ng-click]:hover{
  cursor: pointer;
}

md-icon{
  &.icon-24{
    font-size: 24px;
  }
}


a{
  font-weight: bold;
  &:hover{
    text-decoration: underline;
  }
}

body.hc > #root{
  .md-button{
    &.md-raised{
      background: transparent;
      color: $hc-border-color;
      border-color: $hc-border-color;
      &:hover{
        color: $hc-border-color;
      }
      &:disabled:hover{
        color: $hc-border-color;
      }
    }
  }
}