md-card{
  font-size: 1.25rem;
  margin-bottom: 2rem;
  @extend .md-whiteframe-4dp;
  md-card-title{
    padding: 8px 16px 8px;
    a{
      @include roboto;
      font-weight: normal;
      color: $text-color;
    }
    .md-icon-button{
      font-size: 24px;
    }
  }
  md-card-title-text{
    @include montserrat;
    justify-content: center;
    text-transform: uppercase;
    color: $text-color-lighter;
  }
  md-card-content{
    legend{
      text-align: center;
    }
  }
  .table{
    font-size: 1.15rem;
  }
}

body.hc > #root{
  md-card{
    background: transparent;
    border: 1px solid $hc-border-color;
    color: $hc-text-color;
    md-card-content, md-card-title-text{
      color: $hc-text-color;
    }
  }
}