md-card{
  font-size: 1.25rem;
  margin-bottom: 2rem;
  @extend .md-whiteframe-4dp;
  md-card-title{
    padding: 16px 16px 8px;
    .md-icon-button{
      font-size: 24px;
    }
  }
  md-card-title-text{
    @include montserrat;
    justify-content: center;
    text-transform: uppercase;
    color: $text-color-lighter;
  }
  md-card-content{
    legend{
      text-align: center;
    }
  }
  .table{
    font-size: 1.15rem;
  }
}
