md-dialog{
  md-dialog-content, md-dialog-heading{
    padding: 16px 24px;
  }
  md-dialog-actions{
    border-top: 1px solid $border-color;
  }
}

.qr-code-dialog{
  .qr-code-wrap{
    position: relative;
    text-align: center;
    .qr-code-icon{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }
}

body.hc > #root {
  md-dialog-content{
    color: $text-color;
    .md-title, h1, h2, h3, h4{      
      color: $text-color;
    }
  }
}