.invisible{
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  min-height: 0px;
  padding: 0px;
}


.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.uab-svg-animation{
  max-width: 100%;
  margin: auto;
}
