.invisible{
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  min-height: 0px;
  padding: 0px;
}


.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

uab-svg-animation{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


uab-svg-animation iframe{
  max-width: 100%;
  margin: auto;
}

@media(max-width: $screen-xs){
  uab-svg-animation{
    max-height: 200px;
  }
}

// Flexbox
.column-reverse{
  flex-direction: column-reverse;
}

.column{
  flex-direction: column;
}

.truncate{
  @include ellipsis;
}