// Visibility
.invisible{
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  min-height: 0px;
  padding: 0px;
}

.visible-print{
  display: none;
}

// Align
.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.truncate{
  @include ellipsis;
}

// Margins

.margin-left{
 margin-left: 16px; 
}

.margin-right{
 margin-right: 16px; 
}

.margin-top{
 margin-top: 16px; 
}

.margin-bottom{
 margin-bottom: 16px; 
}

// Icons
.uab-icon{
  font-size: 48px;
  &::before{
    color: white !important;
  }
}

.icon-24{
  font-size: 24px;
}

body.hc > #root{
  .uab-icon{
    &::before{
      color: $hc-text-color !important;
    }
  }
}

// Animations
uab-svg-animation{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


uab-svg-animation iframe{
  max-width: 100%;
  margin: auto;
}

@media(max-width: $screen-xs){
  uab-svg-animation{
    max-height: 200px;
  }
}

// Flexbox
.column-reverse{
  flex-direction: column-reverse;
}

.column{
  flex-direction: column;
}


// List
.list-unstyled{
  padding-left: 0px;
  li{
    list-style: none;
  }
}