img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  opacity: 1;
  margin: auto;
  transition: opacity 0.3s;
}

img[data-src]{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  min-height: 68px;
  max-height: 68px;
  opacity: 0;
}
