@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@mixin montserrat {
  font-family: 'Montserrat', sans-serif;
}

@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin view-fade-transition {
  /* start 'enter' transition */
  &.ng-enter {
      /* transition on enter for .5s */
      transition: .5s;

      /* start with opacity 0 (invisible) */
      opacity: 0;
  }

  /* end 'enter' transition */
  &.ng-enter-active {
      /* end with opacity 1 (fade in) */
      opacity: 1;
  }
}


@mixin webkit-custom-bar {
  &::-webkit-scrollbar {
    width: 13px;
    height: 13px;
  }
  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 0px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
  }
  &::-webkit-scrollbar-thumb:active {
    background: #000000;
  }
  &::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 0px;
  }
  &::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  &::-webkit-scrollbar-track:active {
    background: #333333;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}
