@font-face{
  font-family: "Dalek";
  src: url(../fonts/dalek.ttf);
}

body{
  @include roboto;
  font-size: 18.5px;
  color: $text-color;
  line-height: 1.66;
}

p{
  @include roboto;
  font-size: 1.25rem;
  margin: 24px 0px;
}

h1, h2, h3, h4{
  @include montserrat;
  color: $black;
  margin: 0.8rem 0px;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.6rem;
}

h3{
  font-size: 1.4rem;
}

.caption{
  font-size: 60%;
  color: $secondary-text;
}

.roboto{
  @include roboto;
}

.dalek{
  font-family: "Dalek", sans-serif;
}
