@font-face{
  font-family: "Dalek";
  src: url(../fonts/dalek.ttf);
}

body{
  @include roboto;
  font-size: 14pt;
  color: $text-color;
}

p{
  @include roboto;
  margin: 24px 0px;
}

h1, h2, h3, h4{
  @include montserrat;
  color: $black;
  margin: 0.8rem 0px;
}

.caption{
  font-size: 60%;
  color: $secondary-text;
}

.roboto{
  @include roboto;
}

.dalek{
  font-family: "Dalek", sans-serif;
}