// Layout
$navigation-height: 52px;

$line-height: 1.55;

// Colors
$bg-color: #F6EDC1;

$black: #000;
$text-color: #222;
$secondary-text: transparentize($black, 0.54);
$disabled-text:  transparentize($black, 0.72);

$white: #fff;
$ligth-grey: #eee;

