// Layout
$navigation-height: 52px;

$line-height: 1.55;

// Colors
$bg-color: #f4f4f4;

$black: #000;
$text-color: #222;
$secondary-text: transparentize($black, 0.54);
$disabled-text:  transparentize($black, 0.72);

$white: #fff;
$ligth-grey: #eee;

$screen-xs: 599px;
$screen-sm: 799px;
$screen-md: 919px;
